* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

table {
    border-collapse: collapse;
    width: 100%;
}

th,
td {
    border: 1px solid #e7e7e7;
    padding: 10px;
    text-align: center;
    width: 100px;
}

th {
    background-color: #333;
    color: #fff;
}

.project {
    background-color: #1c1c1c;
    color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 100vh;
}

.color {
    height: 70px;
    color: aliceblue;
    display: flex;
    flex-direction: row;
}
