body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    color: #cc2d2d;
    text-align: center;
    padding: 20px;
    animation: fadeInUp 1s ease-in-out;
}

main {
    margin: 20px;
    animation: fadeIn 1s ease-in-out;
}

section {
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    animation: fadeIn 1s ease-in-out;
    transition: background-color 0.3s ease-in-out;
}

h2 {
    color: #333;
    border-bottom: 2px solid #333;
    padding-bottom: 5px;
    margin-bottom: 15px;
}

p {
    color: #555;
    font-size: 20px;
}


/* Animation keyframes */

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

code{
    color: hsl(222, 93%, 48%);
    font-size: 15px;
}

@keyframes fadeInUp {
    from {
        opacity: 0;
        transform: translateY(20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

/* Responsive Design */

@media (max-width: 768px) {
    main {
        margin: 10px;
    }

    section {
        margin-bottom: 15px;
    }
}



